import "%workspace%/base-bazelrc"

build -c opt

run:compete -- --logtostderr --v=1
run:compete --file_based_test_driver_generate_test_output=false
run:compete --file_based_test_driver_log_ignored_test=false
run:compete --file_based_test_driver_individual_tests=false